/* components/StatusSetter/StatusSetter.module.css */

.numericInput {
    width: 92px;
    height: 32px;
    min-height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 0;
  }
  
  .numericInput:focus {
    outline: none;
    border-color: #69a2ff; /* フォーカス時の色を変更 */
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #f0f2f5; /* 統一感のある背景色 */
    width: 120px;
  }
  