# ==============================
# OS関連の一時ファイル
# ==============================
.DS_Store
Thumbs.db

# ==============================
# 環境設定関連
# ==============================
.vscode/
.env*
.env.local
.env.development
.env.production

# ==============================
# Python関連
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Flask仮想環境
backend/env/
flask/env/
flask/.venv/

# SQLite データベース
db.sqlite3

# DjangoやFlaskのマイグレーションファイル（Djangoを使う場合は必要に応じて削除）
backend/pokedex/migrations/

# ==============================
# Node.js関連
# ==============================
node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js/React のビルド成果物
.next/
out/
build/
dist/

# ==============================
# テスト関連
# ==============================
coverage/

# ==============================
# ログ・キャッシュ
# ==============================
*.log
yarn-error.log
npm-debug.log
.pnpm-debug.log*
*.cache

# ==============================
# 特定の構成ファイルを除外
# ==============================
.src/*
trach/

# ==============================
# Vercel関連
# ==============================
.vercel

# ==============================
# TypeScript関連
# ==============================
*.tsbuildinfo
next-env.d.ts

# ==============================
# その他
# ==============================
*.pem
chakra/
lib/
tree/
_frontend/
