# ==============================
# Python関連
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# 仮想環境関連
env/

# SQLite データベース
db.sqlite3

# Django/Flaskのマイグレーションファイル
pokedex/migrations/

# ==============================
# ログ・キャッシュ
# ==============================
logs/
log/
*.log
*.bak
*.cache

# ==============================
# データファイル
# ==============================
data/raw/
data/merged/
data/exception/
data/pokemondb/

log/raw/
log/upload/
log/raw/game/
log/raw/move/
log/raw/pokemon/
