@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d4e2f2;
  --foreground: #000000;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ecf8ff;
    --foreground: #000000;
  }
}

body {
  color: rgb(0, 0, 0);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
