/* 画像関連 */
.pokemon-image-container {
  min-height: 100px; /* 最小高さを指定して、読み込み中も空白が確保されるようにする */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* スピナーを絶対配置するため */
}

.pokemon-image {
  width: 80%;  /* 親要素に合わせて幅を100%に */
  height: 100%;  /* 高さを親要素に合わせる */
  object-fit: contain;
}

.non-pokemon-image-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.pokemon-image-spinner {
  width: 80px;
  height: 80px;
  margin: auto;
  border: 2px solid #ccc;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;  /* スピナーを画像上に重ねる */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
