/* // src/PokemonCards/style/SearchInput.css */

/* コンテナのスタイル */
/* Flexレイアウト、中央揃え、背景色、パディング、角丸、幅の制限を設定 */
.search-input-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
  }
  
  /* 入力フィールドのスタイル */
  /* 利用可能なスペースを占有し、パディング、フォントサイズ、境界線、角丸、アウトラインの非表示を設定 */
  .search-input-field {
    flex: 1;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  