# ==============================
# Python関連
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# 仮想環境関連
env/
.venv/

# ==============================
# ログ・キャッシュ
# ==============================
*.cache

trach/
files/